<section>
   <p class="breadcrumbs"><a href="#">Voltar para home /</a>Resultado da busca</p>
    <div class="topo">
       <h2>Filtros</h2>
       <a href="#">Limpar tudo</a>
    </div>
    <div class="filter-container">
       <div class="filter-title">
          <img src="./assets/pin.svg" alt="mapa Localização">
          <p>Localização</p>
          <img src="./assets/seta-cima.svg" alt="seta acima">
       </div>
       <input type="text" name="estado-cidade" placeholder="Digite o estado ou cidade"/>
    </div>
    <div class="filter-container">
       <div class="filter-title">
          <img src="./assets/shop.svg" alt="Icone de Loja">
          <p>Loja para retirada</p>
          <img src="./assets/seta-cima.svg" alt="seta acima">
       </div>
       <input type="text" name="loja" placeholder="Digite a loja desejada"/>
       <div class="checkbox-container">
          <div class="checkbox-item">
            <input type="checkbox" id="checkbox" name="" />  
            <label for="">São Paulo -Itaim (15)</label>
          </div>
          <div class="checkbox-item">
            <input type="checkbox" id="checkbox" name="" />  
            <label for="">São Paulo - Congonhas (1)</label>
          </div>
          <div class="checkbox-item">
            <input type="checkbox" id="checkbox" name="" />  
            <label for="">Guarulhos (10)</label>
          </div>
          <div class="checkbox-item">
            <input type="checkbox" id="checkbox" name="" />  
            <label for="">Osasco (12)</label>
          </div>
       </div>
    </div>
    <div class="filter-container">
       <div class="filter-title">
          <img src="./assets/car.svg" alt="marca do carro">
          <p>Marca do carro</p>
          <img src="./assets/seta-cima.svg" alt="seta acima">
       </div>
       <div class="container-marcas">
          <div class="box-marca">
             <img src="./assets/audi.png" alt="carro audi">
             <h4>Audi</h4>
             <h6>(1)</h6>
          </div>
          <div class="box-marca">
             <img src="./assets/chevrolet.png" alt="carro chevrolet">
             <h4>Chevrolet</h4>
             <h6>(2)</h6>
          </div>
          <div class="box-marca">
             <img src="./assets/fiat.png" alt="carro fiat">
             <h4>Fiat</h4>
             <h6>(1)</h6>
          </div>
          <div class="box-marca">
             <img src="./assets/ford.png" alt="carro ford">
             <h4>Ford</h4>
             <h6>(2)</h6>
          </div>
          <div class="box-marca">
             <img src="./assets/hyundai.png" alt="carro hyundai">
             <h4>Hyundai</h4>
             <h6>(2)</h6>
          </div>
          <div class="box-marca">
             <img src="./assets/jeep.png" alt="carro jeep">
             <h4>Jeep</h4>
             <h6>(1)</h6>
          </div>
          <div class="box-marca">
             <img src="./assets/mercedes.png" alt="carro mercedes">
             <h4>Mercedes</h4>
             <h6>(2)</h6>
          </div>
          <div class="box-marca">
             <img src="./assets/nissan.png" alt="carro nissan">
             <h4>Nissan</h4>
             <h6>(1)</h6>
          </div>
          <div class="box-marca">
             <img src="./assets/renault.png" alt="carro renault">
             <h4>Renault</h4>
             <h6>(1)</h6>
          </div>
          <div class="box-marca">
             <img src="./assets/toyota.png" alt="carro toyota">
             <h4>Toyota</h4>
             <h6>(1)</h6>
          </div>
          <div class="box-marca">
             <img src="./assets/volkswagen.png" alt="carro volkswagen">
             <h4>Volkswagen</h4>
             <h6>(2)</h6>
          </div>
       </div>
       <div class="filter-container">
          <div class="filter-title">
             <img src="./assets/calendar.svg" alt="calendario da Loja">
             <p>Prazo de entrega</p>
             <img src="./assets/seta-cima.svg" alt="seta acima">
          </div>
          <div class="checkbox-container">
             <div class="checkbox-item">
                <input type="checkbox" id="checkbox" name="" />  
                <label for="">Entrega imediata (4)</label>
             </div>
             <div class="checkbox-item">
                <input type="checkbox" id="checkbox" name="" />  
                <label for="">Até 20 dias úteis (3)</label>
             </div>
             <div class="checkbox-item">
                <input type="checkbox" id="checkbox" name="" />  
                <label for="">Sob encomenda (2)</label>
             </div>
          </div>
       </div>
    </div>
 </section>