<article> 
    <img src="./assets/HB20 Hatch@2x.png" alt="carro HB20">
    <h2>Hyundai HB20</h2>
    <p class="description">Comfort1.0 Flex 5p Manual</p>
    <ul>
        <li>Plano 24 meses</li>
        <li>Franquia 1.000 km</li>
    </ul>
    <p class="apartir">A partir de</p>
    <h4><span>R$ 899,00</span> /mês*</h4>
    <p class="rule"><span>*</span> Nos 3 primeiros meses e R$ 1.099,99 do 4º ao 24º mês</p>
    <form>
    <button id="hover" type="submit">Eu quero</button>
    </form>
</article>
