<menu-component></menu-component>
<main>
   <app-filter></app-filter>
   <section>
      <div class="titulo-busca">
         <h1>Escolha seu veículo</h1>
         <p>Foram encontrados <span> 18 veículos</span></p>
      </div>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
   </section>
</main>
<app-footer></app-footer>