<section>
    <div class="footer-container">
       <div class="loja-movida">
          <img src="./assets/movida.png" alt="loja movida">
          <p>O <span>Movida Zero Km</span> é um contrato de locação de 
             longo prazo. Você escolhe o modelo e opcionais 
             desejados, e esquece as burocracias. 
             <span> Movida Zero Km,</span> o carro por assinatura com tudo o que você precisa!
          </p>
       </div>
       <h4>ZERO KM</h4>
       <p class="movida">Home I O que é o Zero Km Movida? I Porque assinar 
          I Comprar ou assinar I Perguntas Frequentes I Condições Gerais
       </p>
       <div>
          <h4>A Movida</h4>
          <p class="movida">
             Institucional I Nossas Lojas I Fale Conosco I Trabalhe Conosco
             I Imprensa I Blog I Política de Privacidade
          </p>
          <h4>SITES MOVIDA</h4>
          <div class="sites-movida">
             <div>
                <img src="./assets/movida-aluguel.svg" alt="movida aluguel">
                <img src="./assets/movida-frotas.svg" alt="movida frotas">
                <img src="./assets/movida-mensal.svg" alt="movida mensal">
             </div>
             <img src="./assets/canal-denuncia.png" alt="canal de denuncia">
          </div>
       </div>
       <div class="infos-uteis">
          <img src="./assets/seta-menu.svg" alt="codigo de conduta">
          <img src="./assets/investidores.svg" alt="relação com investidores">
          <img src="./assets/fale-presidente.svg" alt="">
          <img src="./assets/telefone.svg" alt="">
       </div>
    </div>
    <div class="infos-footer">
        <div class="logo-footer">
        <p><a href="#">© 2019 Movida Zero Km | Todos os direitos reservados.</a></p>
     <img src="./assets/ibama.png" alt="Logo Ibama">
     <img src="./assets/jsl.png" alt="Logo Jsl">
     <div class="redes-sociais">
     <img src="./assets/logo-facebook.svg" alt="Logo Facebook">
     <img src="./assets/logo-instagram.svg" alt="Logo Instagram">
     <img src="./assets/logo-youtube.svg" alt="Logo Youtube">
    </div>
    </div>
        </div>
 </section>